.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 30px;
  /* width: 30px;
  height: 30px; */
  border-radius: var(--border-radius);
  padding: 5px 5px;
  background: rgba(var(--primary-color), .3);
  color: transparent;
  font-size: 1.3rem;
}

.letterFind {
  background: rgb(var(--primary-color));
  color: var(--secondary-color);
}