.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 11.11%);
  width: 100%;
  max-width: 1200px;
}

.word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.wordBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
}

@media (width > 568px) {
  .wordBlock {
    gap: 5px;
  }
}