.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  border: 1px outset rgb(var(--primary-color));
  border-radius: var(--border-radius);
  padding: 30px;
  background: rgba(var(--primary-color), .3);
}

.howToPlay {
  border: 1px outset rgb(var(--primary-color));
  border-radius: var(--border-radius);
  padding: 10px 30px;
  background: rgb(var(--primary-color));
}